org.cg.services.core/target/org.cg.services.core-1.0.0-SNAPSHOT-javadoc.jar
org.cg.services.core/target/org.cg.services.core-1.0.0-SNAPSHOT-sources.jar
org.cg.services.core/target/org.cg.services.core-1.0.0-SNAPSHOT.jar
org.cg.services.core/target/apidocs/allclasses-frame.html
org.cg.services.core/target/apidocs/allclasses-noframe.html
org.cg.services.core/target/apidocs/constant-values.html
org.cg.services.core/target/apidocs/deprecated-list.html
org.cg.services.core/target/apidocs/help-doc.html
org.cg.services.core/target/apidocs/index-all.html
org.cg.services.core/target/apidocs/index.html
org.cg.services.core/target/apidocs/overview-frame.html
org.cg.services.core/target/apidocs/overview-summary.html
org.cg.services.core/target/apidocs/overview-tree.html
org.cg.services.core/target/apidocs/package-list
org.cg.services.core/target/apidocs/serialized-form.html
org.cg.services.core/target/apidocs/stylesheet.css
org.cg.services.core/target/apidocs/org/cg/services/core/exception/DuplicateResourceException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/InternalServiceException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/InvalidParameterException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/NoResourceFoundException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/package-frame.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/package-summary.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/package-tree.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/package-use.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/ServiceExceptionMessage.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/class-use/DuplicateResourceException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/class-use/InternalServiceException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/class-use/InvalidParameterException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/class-use/NoResourceFoundException.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/class-use/ServiceExceptionMessage.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/AuthenticationFailureExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/BadRequestExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/ClientErrorExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/DuplicateResourceExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/InternalServiceExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/NotFoundExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/package-frame.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/package-summary.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/package-tree.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/package-use.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/RuntimeExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/AuthenticationFailureExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/BadRequestExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/ClientErrorExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/DuplicateResourceExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/InternalServiceExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/NotFoundExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/exception/mapper/class-use/RuntimeExceptionMapper.html
org.cg.services.core/target/apidocs/org/cg/services/core/filter/ExecutionTimeFilter.html
org.cg.services.core/target/apidocs/org/cg/services/core/filter/package-frame.html
org.cg.services.core/target/apidocs/org/cg/services/core/filter/package-summary.html
org.cg.services.core/target/apidocs/org/cg/services/core/filter/package-tree.html
org.cg.services.core/target/apidocs/org/cg/services/core/filter/package-use.html
org.cg.services.core/target/apidocs/org/cg/services/core/filter/class-use/ExecutionTimeFilter.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/Activator.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/CGOsgiBundleXmlWebApplicationContext.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/package-frame.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/package-summary.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/package-tree.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/package-use.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/class-use/Activator.html
org.cg.services.core/target/apidocs/org/cg/services/core/osgi/class-use/CGOsgiBundleXmlWebApplicationContext.html
org.cg.services.core/target/apidocs/org/cg/services/core/service/CGCoreService.html
org.cg.services.core/target/apidocs/org/cg/services/core/service/package-frame.html
org.cg.services.core/target/apidocs/org/cg/services/core/service/package-summary.html
org.cg.services.core/target/apidocs/org/cg/services/core/service/package-tree.html
org.cg.services.core/target/apidocs/org/cg/services/core/service/package-use.html
org.cg.services.core/target/apidocs/org/cg/services/core/service/class-use/CGCoreService.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/ApiListingResource.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/CGDateTime.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/CGDateTimeSerializer.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/package-frame.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/package-summary.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/package-tree.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/package-use.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/class-use/ApiListingResource.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/class-use/CGDateTime.html
org.cg.services.core/target/apidocs/org/cg/services/core/util/class-use/CGDateTimeSerializer.html
org.cg.services.core/target/apidocs/resources/background.gif
org.cg.services.core/target/apidocs/resources/tab.gif
org.cg.services.core/target/apidocs/resources/titlebar.gif
org.cg.services.core/target/apidocs/resources/titlebar_end.gif
org.cg.services.core/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
org.cg.services.core/target/javadoc-bundle-options/package-list
org.cg.services.core/target/lib/annotations-2.0.1.jar
org.cg.services.core/target/lib/aopalliance-1.0.jar
org.cg.services.core/target/lib/asm-5.0.4.jar
org.cg.services.core/target/lib/bcprov-jdk15-1.46.jar
org.cg.services.core/target/lib/com.springsource.javax.servlet-2.4.0.jar
org.cg.services.core/target/lib/com.springsource.org.aopalliance-1.0.0.jar
org.cg.services.core/target/lib/commons-codec-1.7.jar
org.cg.services.core/target/lib/commons-collections-3.2.1.jar
org.cg.services.core/target/lib/commons-httpclient-3.1.jar
org.cg.services.core/target/lib/commons-lang-2.6.jar
org.cg.services.core/target/lib/commons-lang3-3.2.1.jar
org.cg.services.core/target/lib/commons-logging-1.1.1.jar
org.cg.services.core/target/lib/cxf-core-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-bindings-soap-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-bindings-xml-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-databinding-jaxb-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-frontend-jaxrs-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-frontend-jaxws-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-frontend-simple-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-rs-service-description-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-transports-http-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-ws-addr-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-ws-policy-3.1.1.jar
org.cg.services.core/target/lib/cxf-rt-wsdl-3.1.1.jar
org.cg.services.core/target/lib/esapi-2.0.1.jar
org.cg.services.core/target/lib/guava-18.0.jar
org.cg.services.core/target/lib/jackson-annotations-2.4.0.jar
org.cg.services.core/target/lib/jackson-core-2.4.2.jar
org.cg.services.core/target/lib/jackson-databind-2.4.2.jar
org.cg.services.core/target/lib/jackson-dataformat-xml-2.4.2.jar
org.cg.services.core/target/lib/jackson-dataformat-yaml-2.4.2.jar
org.cg.services.core/target/lib/jackson-datatype-joda-2.4.2.jar
org.cg.services.core/target/lib/jackson-jaxrs-base-2.4.2.jar
org.cg.services.core/target/lib/jackson-jaxrs-json-provider-2.4.2.jar
org.cg.services.core/target/lib/jackson-module-jaxb-annotations-2.4.2.jar
org.cg.services.core/target/lib/javassist-3.18.2-GA.jar
org.cg.services.core/target/lib/javax.annotation-api-1.2.jar
org.cg.services.core/target/lib/javax.ws.rs-api-2.0.1.jar
org.cg.services.core/target/lib/jaxb-core-2.2.11.jar
org.cg.services.core/target/lib/jaxb-impl-2.2.11.jar
org.cg.services.core/target/lib/joda-time-2.2.jar
org.cg.services.core/target/lib/jsp-api-2.1.jar
org.cg.services.core/target/lib/jsr311-api-1.1.1.jar
org.cg.services.core/target/lib/jstl-1.2.jar
org.cg.services.core/target/lib/log4j-1.2.17.jar
org.cg.services.core/target/lib/neethi-3.0.3.jar
org.cg.services.core/target/lib/not-yet-commons-ssl-0.3.9.jar
org.cg.services.core/target/lib/opensaml-2.6.1.jar
org.cg.services.core/target/lib/openws-1.5.1.jar
org.cg.services.core/target/lib/org.osgi.core-6.0.0.jar
org.cg.services.core/target/lib/reflections-0.9.9.jar
org.cg.services.core/target/lib/serializer-2.7.1.jar
org.cg.services.core/target/lib/slf4j-api-1.7.12.jar
org.cg.services.core/target/lib/slf4j-log4j12-1.7.12.jar
org.cg.services.core/target/lib/spring-aop-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-beans-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-context-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-core-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-expression-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-osgi-core-1.2.1.jar
org.cg.services.core/target/lib/spring-osgi-extender-1.2.1.jar
org.cg.services.core/target/lib/spring-osgi-io-1.2.1.jar
org.cg.services.core/target/lib/spring-osgi-web-1.2.1.jar
org.cg.services.core/target/lib/spring-security-config-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-security-core-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-security-saml2-core-1.0.1.RELEASE.jar
org.cg.services.core/target/lib/spring-security-web-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-test-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-web-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/spring-webmvc-3.2.4.RELEASE.jar
org.cg.services.core/target/lib/stax2-api-3.1.4.jar
org.cg.services.core/target/lib/swagger-annotations-1.5.0.jar
org.cg.services.core/target/lib/swagger-core-1.5.0.jar
org.cg.services.core/target/lib/swagger-jaxrs-1.5.0.jar
org.cg.services.core/target/lib/swagger-models-1.5.0.jar
org.cg.services.core/target/lib/validation-api-1.1.0.Final.jar
org.cg.services.core/target/lib/velocity-1.7.jar
org.cg.services.core/target/lib/woodstox-core-asl-4.4.1.jar
org.cg.services.core/target/lib/wsdl4j-1.6.3.jar
org.cg.services.core/target/lib/xalan-2.7.1.jar
org.cg.services.core/target/lib/xercesImpl-2.10.0.jar
org.cg.services.core/target/lib/xml-apis-1.4.01.jar
org.cg.services.core/target/lib/xml-resolver-1.2.jar
org.cg.services.core/target/lib/xmlschema-core-2.2.1.jar
org.cg.services.core/target/lib/xmlsec-1.5.6.jar
org.cg.services.core/target/lib/xmltooling-1.4.1.jar
org.cg.services.core/target/maven-archiver/pom.properties
org.cg.services.core/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
org.cg.services.core/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
